div {
    border: 1px solid black;
    border-radius: 25px;
}

#baslik{
   width:100%;
   height:250px;
   background-color:gray;
   font-size:25px;
}

.kutu {
    width: 150px;
    height: 100px;
    padding: 10px;    
    background-color: #4846d0;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    float: left;
    margin: 15px;
}