@model IEnumerable<Product>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}





    <h1>Ana sayfa</h1>
    <p>Sayfamıza hoş geldin!</p>
    <p>
        Merhaba @ViewBag.Name, şu an saat @ViewBag.Hour
    </p>
    @if (ViewBag.Hour < 12)
    {
        <p>Günaydın</p>
    }
    else if (ViewBag.Hour < 18)
    {
        <p>İyi günler</p>
    }
    else if (ViewBag.Hour < 20)
    {
        <p>İyi akşamlar</p>
    }
    else
    {
        <p>İyi geceler</p>
    }
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name isimli ürünün fiyatı, @item.Price TL</li>
        }
    </ul>
    Koronaya veda partisi düzenliyoruz. Katılmak için  <a asp-action="Davet" asp-controller="Home" class="btn btn-succes">Tıkla</a>


